/* Your custom styles goes here */

/* Apply the imported font to the <h1> element */
header h1 {
    font-family: 'Comic Sans', sans-serif;
    font-size: 50px;
}

body {
    background-image: url('https://w.wallhaven.cc/full/zy/wallhaven-zyxvqy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

